@import 'tailwindcss';
@import "tom-select/dist/css/tom-select.default.css";

.ts-control {
    padding-top: 0.725rem !important;
    padding-bottom: 0.825rem !important;
    
    @apply bg-gray-50 border-gray-300 rounded-lg;
}

.ts-wrapper.focus .ts-control {
    @apply bg-white ring-2 ring-green-500 border-transparent shadow-lg shadow-green-500/20;
}

.ts-wrapper.focus .ts-control, .ts-wrapper.focus.dropdown-active .ts-control {
    box-shadow: none !important;
}

.ts-wrapper.input-hidden .ts-control input {
    display: none !important;
}
.ts-wrapper.single .ts-control {
    white-space: nowrap; 
    overflow: hidden;
    display: flex;
    align-items: center;
}

[x-cloak] {
    display: none !important;
}

.tom-select-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 0;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

button, select {
    cursor: pointer;
}

